<div class="container d-flex align-items-center">
    <div class="col-md-12" style="margin-top: 5px;">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="not-area">
                    <div class="form-group mt-2">
                        <div class="title">
                            <label for="noteTextarea" class="h3">Create Note</label>
                        </div>
                        <!--[(ngModel)]="noteText"-->
                        <form [formGroup]="textForm">
                            <label class="priority">Note Description: </label>
                            <textarea  placeholder="type here..." class="form-control" id="noteTextarea" rows="14" formControlName="noteText" required></textarea>
                            <div *ngIf="formControls['noteText'].errors?.['required']" class="alert alert-danger">
                                This field is required!
                            </div>
                            
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="priority">Priority: </label>
                                        <input type="number" class="form-control" formControlName="priority" min="1" max="5">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="priority">Image: </label>
                                        <input class="form-control" type="file" id="img" name="img" accept="image/*" (change)="onFileSelected($event)" formControlName="image">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="float-end mt-3">
                        <button type="button" (click)="onSubmit()" class="btn btn-success me-2">Add</button>
                        <button type="button" (click)="cancel()" class="btn btn-warning">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>