<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand ms-5">
        <img src="../../../assets/images/logo.png" alt="logo" height="40">
    </div>
    <div class="collapse navbar-collapse justify-content-end me-5" 
         [class.collapse]="navbarCollapsed" 
         [ngClass]="{'bg-red':!navbarCollapsed}"
         id="navbarCollapse">
      <ul class="navbar-nav mr-auto" *ngIf="isUser()==true">
        <li class="nav-item active">
          <button class="nav-link btn" (click)="logout()">Logout<span ><i class="fa fa-sign-out ms-2" aria-hidden="true"></i></span></button>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/notes/create']">Add <span><i class="fa fa-plus" aria-hidden="true"></i></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/notes/getall']">Notes<span ><i class="fa fa-list-alt ms-2" aria-hidden="true"></i></span></a>
        </li>
      </ul>
    </div>
</nav>
